body {
  justify-content: center;
  display: flex;
}

/* game board table */

#board td {
  border: solid 1px #666;
  position: relative;
  height: 50px;
  width: 50px;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  animation: drop 0.8s;
  border-radius: 50%;
  position: absolute;
  height: 80%;
  margin: 5px;
  width: 80%;
  top: 0;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-color: blue;
}
.p2 {
  background-color: red;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

@keyframes drop {
  0% {
    top: -400px;
  }
  100% {
    top: 0;
  }
}
